{# src/KK/BlogBundle/Resources/views/Page/about.html.twig #}
{% extends 'KKBlogBundle::layout.html.twig' %}

{% block title %}About{% endblock %}

{% block body %}
    <header>
        <h1>About Da Blog</h1>
    </header>
    <article>
        <p>
            Da Blog serves as a daily reminder of my journey into web development, having no experience in this field and starting from
            nothing. Having to learn the arduous task of programming one baby step at a time. It's been a nine mouth journey starting from
            the basics of HTML/CSS, then to Javascript and finally hitting my stride and landing with PHP. With my sights focused on PHP
            the road is more clear, albeit a long journey still awaits... as I'm eagerly progressing forward.
        </p>
    </article>
{% endblock %}